<?xml version="1.0"?>
<config>
    <modules>
        <transparent_cdn>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </transparent_cdn>
    </modules>
    <frontend>
        <routers>
            <transparent_cdn>
                <use>standard</use>
                <args>
                    <module>Transparent_Cdn</module>
                    <frontName>transparent_cdn</frontName>
                </args>
            </transparent_cdn>
        </routers>
    </frontend>
    <global>
        <models>
            <transparent_cdn>
                <class>Transparent_Cdn_Model_Observer</class>
            </transparent_cdn>
        </models>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/ban</class>
                        <method>catalog_product_save_after</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </catalog_product_save_commit_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/ban</class>
                        <method>stock_item_save_after</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_category_save_commit_after>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/ban</class>
                        <method>catalog_category_save_after</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </catalog_category_save_commit_after>
            <after_reindex_process_cataloginventory_stock>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/ban</class>
                        <method>stock_item_save_after_reindex</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </after_reindex_process_cataloginventory_stock>
            <customer_login>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/cookie</class>
                        <method>create_cache_cookie</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/cookie</class>
                        <method>delete_cache_cookie</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </customer_logout>
            <checkout_cart_product_add_after>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/cookie</class>
                        <method>create_cache_cookie</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_submit_all_after>
                <observers>
                    <transparent_cdn>
                        <class>transparent_cdn/cookie</class>
                        <method>delete_cache_cookie</method>
                        <type>singleton</type>
                    </transparent_cdn>
                </observers>
            </checkout_submit_all_after>
        </events>
        <helpers>
            <transparent_cdn>
                <class>Transparent_Cdn_Helper</class>
            </transparent_cdn>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <transparent_cdn after="Mage_Adminhtml">Nexcessnet_Turpentine</transparent_cdn>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <transparent_cdn module="transparent_cdn">
                    <file>transparent.xml</file>
                </transparent_cdn>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <transparent_cdn translate="title" module="transparent_cdn">
                                    <title>Transparent CDN Management</title>
                                </transparent_cdn>
                                <config>
                                    <children>
                                        <transparent_management translate="title" module="transparent_cdn">
                                            <title>Transparent Options</title>
                                        </transparent_management>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>